<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="text-white" style="background-color:rgb(7, 7, 58)">
  <div class="container text-center">
    <div class="jumbotron text-center" style="background-color:black">
        <h1 class="title" style="color:rgb(206, 4, 4)">Mission to Mars</h1>
        <p> <a class="button"  style="border:grey color:rgb(206, 4, 4)" href="/scrape">Get Latest Update</a></p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4"><br/><br/>
                <div class="box1">
                    <h2 class="heading" style="color:rgb(206, 4, 4)">Latest News about Mars</h2>
                    <h5><br/>{{mars.news_title}}:</h5>
                    <h7><br/>{{mars.news_paragraph}}</h7>
                </div>
            </div>
            <div class="col-md-4"><br/><br/>
                <img class="image" src="https://i.gifer.com/origin/2b/2b0512a6a83b60cc52d4117e6adfd824_w200.gif" />
            </div>
            <div class="col-md-4"><br/><br/>
                <div class="box1">
                    <h2 class="heading" style="color:rgb(206, 4, 4)">Facts About Mars</h2><br/>
                    <table border="1">
                        <h3>{{mars.facts|safe}}</h3>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box2"><br/><br/>
                    <h2 class="heading" style="color:rgb(206, 4, 4)">Featured Mars Image</h2><br/>
                    <img class="image" src="{{mars.featured_image}}" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box1"> <br/><br/>
                    <h2 class="heading" style="color:rgb(206, 4, 4)">Mars Hemispheres</h2>
                <hr>
                </div>
            </div>        
        <div class="row">
                {% for item in mars.hemispheres %}
                <div class="col-md-3">
                    <img src="{{item.img_url}}" width="250" height="250" />
                    <p>{{ item.title }}</p>
                </div>
                {% endfor %}
        </div>  
    </div>
  </div>

  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>        
</body>

</html>

